<p style="color: green"><%= notice %></p>

<%= render @presentation %>

<div>
  <% if params['trickdev'] %>
    <%= link_to "Edit", edit_presentation_path(@presentation), "btn btn-outline-dark" %> |
  <% end %>
  <%= link_to "Back", presentations_path %>
</div>
