

<div class="container container-fluid">
  <div class="row">
    <div class="col">
      <h1>Welcome</h1>
      <p>This is a home page for a new Rails App on Web!</p>
      <a class="btn btn-secondary" href="/presentations">See projects</a>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h3 class="mycenter">Knowledge</h3>
    </div>
  </div>

  <div class="row">
    <div class="col">
      · iOS Developer  
    </div>
    <div class="col">
      · Android Developer
    </div>
    <div class="col">
      · Web Developer
    </div>
    <div class="col">
      · Full Stack Engineer
    </div>
    <div class="col">
      · Mobile Application Developer
    </div>    
  </div>

  <br>
  <div class="row">
    <div class="col">
      <h3 class="mycenter">Projects</h3>
    </div>
  </div>
</div>